<div class="comment">
  <ul class="author">
    <li><%= comment.full_name %></li>
    <li>(<%= mail_to comment.email %>)</li>
  </ul>
  <p class="content">
    <%= comment.content %>
  </p>
  <ul class="actions">
    <li class="view"><%= link_to 'View', comment %></li>
    <% if comment.email == session[:email] %>
      <li><%= link_to 'Edit', edit_comment_path(comment) %></li>
      <li><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% else %>
      <li><%= link_to 'Reply', controller: :comments, action: :new, comment: comment %></li>
    <% end %>
  </ul>

  <%= render comment.comments unless comment.comments.empty? %>
</div>
