<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :comment_id, value: @comment.comment_id || params[:comment] %>

  <div class="field inline">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name, value: @comment.full_name || session[:full_name]  %>
  </div>
  <div class="field inline">
    <%= f.label :email %><br>
    <%= f.text_field :email, value: @comment.email || session[:email]  %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
