<main>
<p id="notice"><%= notice %></p>

<h1>Listing Top Level Comments</h1>

<p>This page is for demo purposes.  For most web app needs, there is no practical use case for an index of top-level comments.</p>











    <% @comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.full_name %></p>
        <p><%= comment.email %></p>
        <p><%= link_to 'Show', comment %></p>
        <p><%= link_to 'Edit', edit_comment_path(comment) %></p>
        <p><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>





<%= link_to 'New Comment', new_comment_path %>
</main>
