<main>
  <p id="notice"><%= notice %></p>

  <h1>Listing Top Level Comments</h1>

  <p>This page is for demo purposes.  For most web app needs, there is no practical use case for an index of top-level comments.</p>

  <% @comments.each do |comment| %>
    <div class="comment">
      <ul>
        <li><%= comment.full_name %></li>
        <li><%= comment.email %></li>
        <li><%= link_to 'Show', comment %></li>
        <li><%= link_to 'Edit', edit_comment_path(comment) %></li>
        <li><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  <% end %>

  <%= link_to 'New Comment', new_comment_path %>
</main>
